.productosCategory-container {
    padding: 0;
    margin: 0;

    .productosCategory-input {
        input {
            background-color: #FFF;
            border: solid 2px transparent;
            width: 25rem;
            height: 40px;
            padding: 5px 15px;
            font-size: 15px;
            border-radius: 5px;
            outline: none;
   
            border-color: orange;
            
        }
}
    }